<div class="user-panel">
    <div class="pull-left image">
        <img src="{% include "@AdmingeneratorGenerator/Sidebar/avatar_source.html.twig" %}" class="img-circle" alt="Authenticated user" />
    </div>
    <div class="pull-left info">
        <p>{{ app.user }}</p>
    </div>
</div>
