<div class="user-panel">
    <div class="pull-left image">
        <img src="{{ asset('bundles/admingenerator/img/avatar5.png') }}" class="img-circle" alt="Authenticated user" />
    </div>
    <div class="pull-left info">
        <p>{{ app.user }}</p>
    </div>
</div>
