<section class="sidebar">
    {% block sidebar_profile %}
        {% if app.user %}
            {% block sidebar_profile_authenticated %}
                {% include "AdmingeneratorGeneratorBundle:Sidebar:authenticated.html.twig" %}
            {% endblock sidebar_profile_authenticated %}
        {% else %}
            {% block sidebar_profile_not_authenticated %}
                {% include "AdmingeneratorGeneratorBundle:Sidebar:not_authenticated.html.twig" %}
            {% endblock sidebar_profile_not_authenticated %}
        {% endif %}
    {% endblock sidebar_profile %}
    {% block sidebar_menu %}
        {% if admingenerator_config('knp_menu_alias') is not null %}
            {{ knp_menu_render(admingenerator_config('knp_menu_alias')) }}
        {% endif %}
    {% endblock sidebar_menu %}
</section>