<header class="main-header">
    {% block logo %}
        {% set brand_path = (admingenerator_config('dashboard_route') is not null) ? path(admingenerator_config('dashboard_route')) : '#' %}
        <a class="logo" href="{{ brand_path }}">
            {% block brand_text %}
                {{ 'dashboard.brand'|trans({}, 'Admingenerator') }}
            {% endblock %}
        </a>
    {% endblock %}
    {% block navbar %}
        {% include "@AdmingeneratorGenerator/Navbar/layout.html.twig" %}
    {% endblock navbar %}
</header>