<div id="admingenerator_loading_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<p class="text-center s2a-loading-icon"><i class="fa fa-cog fa-spin fa-4x"></i></p>
    </div>
  </div>
</div>
