/**
 * List builder specific CSS
 */
 
/* List table scrollbar position relatively to wrapper */
.list-table-wrapper {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.list-table-wrapper > table {
    margin-top: -1px;
    margin-bottom: 0;
}

@media print {
  .list-table-wrapper {
      overflow: visible;
  }
}

/* List results number bar styles */
.list_nbresults {
    margin-bottom: 8px;
}

/* List sorting styles */
.list_thead .actions {
    min-width: 100px;
}

.list_thead_column .sort-addon > .sort-icon:after {
    font-family: FontAwesome;
    display: inline;
    padding-left: 6px;
    font-weight: normal;
    color: #000;
}

.list_thead_column .sort-addon > u,
.list_thead_column .sort-addon > .sort-icon > u,
.list_thead_column .sort-addon > .sort-icon:hover {
    text-decoration: none;
}

.list_thead_column .sort-addon:hover > .sort-icon > u {
    text-decoration: underline;
}

.list_thead_column .sort-addon > .sort-icon.placeholder:after {
    visibility: hidden;
}

.list_thead_column .sort-addon:hover > .sort-icon.placeholder:after {
    visibility: visible;
}

.list_thead_column .sort-addon > .sort-amount-asc:after,
.list_thead_column .sort-addon:hover > .sort-amount-desc:after {
    content: "\f160";
}

.list_thead_column .sort-addon > .sort-amount-desc:after,
.list_thead_column .sort-addon:hover > .sort-amount-asc:after {
    content: "\f161";
}

.list_thead_column .sort-addon > .sort-alpha-asc:after,
.list_thead_column .sort-addon:hover > .sort-alpha-desc:after {
    content: "\f15d";
}

.list_thead_column .sort-addon > .sort-alpha-desc:after,
.list_thead_column .sort-addon:hover > .sort-alpha-asc:after {
    content: "\f15e";
}

.list_thead_column .sort-addon > .sort-numeric-asc:after,
.list_thead_column .sort-addon:hover > .sort-numeric-desc:after {
    content: "\f162";
}

.list_thead_column .sort-addon > .sort-numeric-desc:after,
.list_thead_column .sort-addon:hover > .sort-numeric-asc:after {
    content: "\f163";
}

/* List scopes */
.list_scopes {
    margin: 10px auto;
}

.list_scope_group .btn [class^="fa-"],
.list_scope_group .btn [class*=" fa-"] {
    font-size: 12px;
}

/* List pagination styles */
.pagination {
   margin: 0px;
   font-size: 14px;
}

.pagination .perpage {
    min-width: 50px;
}

/* List actions bar styles */
.list-actions-wrapper {
    /* this wrapper fixes the toolbar on small screens */
    position: relative;
}

.list-actions > .btn-toolbar {
    margin-left: 0px;
}

.list-actions > .btn-toolbar + .btn-group,
.list-actions > .btn-toolbar + .btn-toolbar {
    margin-left: 10px;
}

.list-actions > .btn-toolbar.pull-right + .btn-toolbar {
    margin-right: 10px;
}

.list-actions .btn-group > .btn-group:last-child > .btn:first-child {
    -webkit-border-bottom-left-radius: 4px;
       -moz-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
       -webkit-border-top-left-radius: 4px;
          -moz-border-top-left-radius: 4px;
               border-top-left-radius: 4px;
}

/* Object actions styles */
div[class^='object-actions-'],
div[class*=' object-actions-'] {
    margin-bottom: 10px
}

.object_actions > .btn-group > a.btn {
    margin-left: -1px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.object_actions .btn [class^="fa-"],
.object_actions .btn [class*=" fa-"] {
    font-size: 14px;
}
