table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting:after,
table.table thead .sorting_asc:after,
table.table thead .sorting_desc:after,
table.table thead .sorting_asc_disabled:after,
table.table thead .sorting_desc_disabled:after {
    font-family: 'FontAwesome';
}
html[direction='ltr'] table.table thead .sorting:after,
html[direction='ltr'] table.table thead .sorting_asc:after,
html[direction='ltr'] table.table thead .sorting_desc:after,
html[direction='ltr'] table.table thead .sorting_asc_disabled:after,
html[direction='ltr'] table.table thead .sorting_desc_disabled:after {
    text-align: right;
    float: right;
}
html[direction='rtl'] table.table thead .sorting:after,
html[direction='rtl'] table.table thead .sorting_asc:after,
html[direction='rtl'] table.table thead .sorting_desc:after,
html[direction='rtl'] table.table thead .sorting_asc_disabled:after,
html[direction='rtl'] table.table thead .sorting_desc_disabled:after {
    text-align: left;
    float: left;
}
table.table thead .sorting:after { content: '\f0dc'; opacity: 0.2; }
table.table thead .sorting_asc:after { content: '\f0d8'; }
table.table thead .sorting_desc:after { content: '\f0d7'; }
table.table thead .sorting_asc_disabled:after { content: '\f0d8'; opacity: 0.2; }
table.table thead .sorting_desc_disabled:after { content: '\f0d7'; opacity: 0.2; }

.list-results-fields-row-objectactions a>span {display:none}
.list-results-container .list-footer .row+.row {margin-top: 5px}
.list-results-actions-batch .input-group-btn {left: 5px}
.list-results-actions-batch .input-group-btn .btn {border-radius:4px}

.show-model .tab-content,
.form-model .tab-content {border-bottom: 1px solid #f4f4f4}
.nav-tabs-custom .show-model-actions,
.nav-tabs-custom .form-model-actions{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -5px;
    margin-right: -5px;
    webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-group .tooltip+.btn{margin-left:-1px}
.scopes-group {padding-bottom: 5px; padding-right: 5px; display: inline-block;}
.scopes-group:last-child {padding-right: 0px;}

.sidebar .user-panel > .info {max-width: 155px;}
.sidebar .treeview {width: 100%;}
