table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.table thead .sorting-container {
    display: flex;
}

table.table thead .sorting-icons {
    color: black;
    align-self: center;
}

table.table thead .sorting-icons .fa-stack {
    height: 1em;
    width: 1.25em;
}

table.table thead .sorting-icons .fa-sort {
    opacity: 0.2;
}

table.table thead .sorting-icons .fa-sort-up,
table.table thead .sorting-icons .fa-sort-down {
    opacity: 0;
}

table.table thead .sorting-icons.asc .fa-sort-up { opacity: 1; }
table.table thead .sorting-icons.desc .fa-sort-down { opacity: 1; }

.list-results-fields-row-objectactions a>span {display:none}
.list-results-container .list-footer .row+.row {margin-top: 5px}
.list-results-actions-batch .input-group-btn {left: 5px}
.list-results-actions-batch .input-group-btn .btn {border-radius:4px}

.show-model .tab-content,
.form-model .tab-content {border-bottom: 1px solid #f4f4f4}
.nav-tabs-custom .show-model-actions,
.nav-tabs-custom .form-model-actions{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -5px;
    margin-right: -5px;
    webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-group .tooltip+.btn{margin-left:-1px}
.scopes-group {padding-bottom: 5px; padding-right: 5px; display: inline-block;}
.scopes-group:last-child {padding-right: 0px;}

.sidebar .user-panel > .info {max-width: 155px;}
.sidebar .treeview {width: 100%;}
